h1 {
    font-size: 50px;
    color: black;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
}

body {
    background-color: beige;
}

.titulos {
    font-size: 45px;
    color: dimgrey;
}